<h1>Listing customers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Address number</th>
    <th>Address completion</th>
    <th>Neighborhood</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Phone number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.email %></td>
    <td><%= customer.address %></td>
    <td><%= customer.address_number %></td>
    <td><%= customer.address_completion %></td>
    <td><%= customer.neighborhood %></td>
    <td><%= customer.city %></td>
    <td><%= customer.state %></td>
    <td><%= customer.zipcode %></td>
    <td><%= customer.phone_number %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
