<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Fx Addicts School - Análise Diária - Ao vivo e gratuita</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META NAME="DESCRIPTION" CONTENT="Voce que deseja aprender mais sobre como operar Forex  Home Broker ou deseja aprender novas estratégias Venha e acompanhe a nossa análise do mercado para a semana, compartilharemos a nossa visão estratégica assim como potenciais operações de curto e longo prazo">
    <META NAME="KEYWORDS" CONTENT="forex, scalping, curso, treinamento, portugues, brasil, fx, online, ao vivo, trader, gratis, analise">

    

    <!-- <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">--> 
    <link href='http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900|Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    
    <!--link rel="stylesheet/less" type="text/css" href="bootstrap/less/bootstrap.less">
    <link rel="stylesheet/less" type="text/css" href="bootstrap/less/responsive.less">
    <script src="js/less-1.3.0.min.js" type="text/javascript"></script-->
    <!-- // <script src="jquery-1.7.2.js"></script> -->
    <!-- // <script src="js/pxgradient-1.0.2.jquery.min.js" type="text/javascript"></script> -->
   
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link href="bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">  -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33556622-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
    $.src='//cdn.zopim.com/?6oSNi7jGJjZ72SRQEY3YknWLgKSx8tnF';z.t=+new Date;$.
    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
  </script>
  <!--End of Zopim Live Chat Script-->
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="container">
      <span class="pull-right">
      	<%= image_tag "logo_company_04.png" %>
      </span>
      <br/>
      <br/>
      <br/>
      <br/>
      <div class="hero-unit highlight_logo">
        <h1><%= image_tag "ad_03.png", :size => "919x213", :alt => "ACOMPANHE TODOS OS DIAS A ANÁLISE DO MERCADO DE FOREX ONLINE E EM TEMPO REAL JUNTAMENTE COM UM TRADER PROFISSIONAL" %></h1>
        <div class="row-fluid row-button">
            <div class="span2">&nbsp;</div>
            <div class="span5 vagas">12 Vagas</div>
            <div class="span4 proxima_analise_diaria"><span>data:</span> Diariamente<br/><span>hor&#225;rio:</span> 18H</div>
            <div class="span1">&nbsp;</div>
        </div>
        <div class="notice_success"><span>&nbsp;</span></div>
        <%= form_for(@contact_form, :remote => true) do |f| %>
        
        <div class="row-fluid row_form">
            <div class="span2">&nbsp;</div>
            <div class="span5 div_email">
              <%= f.text_field :email, :class => "span12 email_field", :placeholder => "E-mail" %> 
              <%= f.text_field :skype_username, :class => "span12 email_field", :placeholder => "Skype" %>
            </div>
            <div class="span3">
              <a href="" class="btn_participe_analise" id="contact_form_submit" onclick="return false;"></a>
              <span class="duvidas">Dúvidas? Mande-nos um <a class="link_email" href="mailto:contato@fxaddictsschool.com">e-mail</a>.</span>
            </div>
            <div class="span1">&nbsp;</div>          
        </div>
        <% end %>
      </div>
      <div class= "row-fluid row-chamada-bloco">
          <div class="span12" style="margin-left:10px">
            <h2>PARA QUEM DESEJA APRENDER MAIS</h2>
            <p>Voc&#234; que deseja aprender mais sobre como operar Forex Home Broker ou deseja aprender novas estrat&#233;gias venha e acompanhe a nossa an&#225;lise do mercado para a semana, compartilharemos a nossa vis&#227;o estrat&#233;gica assim como potenciais opera&#231;&#245;es de curto e longo prazo.</p>
          </div>
      </div>
      <div class="row-fluid footer">
        <%= image_tag "linha_horizontal_55.png" %>
        <p class="span">Copyright &#169; 2012 Fx Addicts. <br/>Fx Addicts e Fx Addicts School s&#227;o marcas registradas de Fx Addicts Inc. <br/>Outros nomes de produtos mencionados podem ser marcas registradas de seus respectivos propriet&#225;rios.</p>
      </div>
    </div>
  <!-- Le javascript
  ================================================== -->
  <!--script src="bootstrap/js/bootstrap.js"></script-->
  </form>


  <script>
    window.submited = false;
    $(document).ready(function() {
      // On Submit Contact Us Form
      $('#contact_form_submit').click(function() {   
        
        //Impede do usuário submeter várias vezes
        if (window.submited == true) {
          return false;
        } else {
          window.submited = true;
        }

        $.ajax({
          url:'/contact_forms',
          type: 'POST',
          data: $('.new_contact_form').serialize(),
          dataType: "json", 
          success: function(data){
            $(document).ready(function() {
              $('div.qtip').remove();
              $('.notice_success span').text("Seu formulário foi enviado!").fadeIn();
            });
          },
          error: function(jqXHR, textStatus, errorThrown) {
            
            //Em caso de erro volta o status para nao submetido 
            //para que o usuario possa reenviar o formulario
            window.submited = false;

            var json = $.parseJSON(jqXHR.responseText).errors;
            $('div.qtip').remove();
              
            for(property in json) {
              //alert(property);
              //alert(json[property]);
              var configQtip = {
                content: {
                  text: json[property][0]
                },
                position: {
                  my: 'bottom left',  // Position my top left...
                  at: 'top center',
                  adjust: {
                    x:-70
                  }
                },
                show: {
                  event: false, // Don't specify a show event...
                  ready: true // ... but show the tooltip when ready
                },
                hide: false,
                style: {
                  classes: 'tooltip-contact ui-tooltip-shadow ui-tooltip-red',
                  width: '220px'
                }
              };
              
              $("#contact_form_"+property).qtip(configQtip);
              // $("."+property+"_field_line textarea").qtip(configQtip);
            };
            
            $.each(json, function(indexName, value) {
              indexName;
              value;
            });
            
          }  
        });
      });
    });
  </script>
  </body>
</html>