<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Fx Addicts School</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    

    <!-- <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">--> 
    <link href='http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900|Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    
    <!--link rel="stylesheet/less" type="text/css" href="bootstrap/less/bootstrap.less">
    <link rel="stylesheet/less" type="text/css" href="bootstrap/less/responsive.less">
    <script src="js/less-1.3.0.min.js" type="text/javascript"></script-->
    <!-- // <script src="jquery-1.7.2.js"></script> -->
    <!-- // <script src="js/pxgradient-1.0.2.jquery.min.js" type="text/javascript"></script> -->
   
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link href="bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">  -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <form action="<%= PagSeguro.gateway_url %>" class="pagseguro" method="post">
    <%= hidden_field_tag "encoding", "UTF-8"  %>
    <%= hidden_field_tag "email_cobranca", PagSeguro.config["email"]  %>
    <%= hidden_field_tag "tipo", "CP" %>
    <%= hidden_field_tag "moeda", "BRL" %>
    <%= hidden_field_tag "ref_transacao", Time.now.to_i %>
    <%= hidden_field_tag "tipo_frete", "" %>

      <% 1 %>
      <%= hidden_field_tag "item_quant_1", 1 %>
      <%= hidden_field_tag "item_id_1", 1 %>
      <%= hidden_field_tag "item_descr_1", "Curso de Forex Scalping" %>
      <%= hidden_field_tag "item_valor_1", 100 %>
      <%= hidden_field_tag "item_peso_1", "" %>
      <%= hidden_field_tag "item_frete_1", "" %>

    <div class="navbar">
      <!-- <div class="navbar-inner"> -->
      <ul class="nav pull-left">
        <%= image_tag "top_banner_01.png" %>
      </ul>
    </div>
    <div class="container">
      <span class="pull-right">
      	<%= image_tag "logo_company_04.png" %>
      </span>
      <div class="hero-unit highlight_logo">
        <%= image_tag "logo_curso_09.png" %>
        <div class="row-fluid">
          <p>
            A Fx Addicts School traz para voc&#234; um curso de Scalping, onde mostrar&#225; a voc&#234;, exatamente onde, quando e o por que fazer suas entradas e sa&#237;das neste mercado. N&#243;s N&#195;O oferecemos um sistema &#8220;m&#225;gico&#8221;,  nem &#8220;milagroso&#8221; para enriquecer em uma semana, m&#234;s ou um ano, <br/>mas princ&#237;pios s&#243;lidos para que voc&#234; possa alcan&#231;ar ganhos consistentes.
          </p>
        </div>
        <div class="row-fluid row-button">
            <div class="span4_5 vagas">15 Vagas</div>
            <div class="span4 proxima_turma"><span>pr&#243;xima turma:</span> 25/07/2012</div>
            <div class="span1 separator"><%= image_tag "linha_vertical_09.png" %></div>
            <div class="span3 btn_inscreva"><a href="#" class="btn_download"></a></div>
        </div>
      </div>
      <div class= "row-fluid row-chamada-bloco">
          <h2>PARA QUEM N&#195;O QUER APENAS SEGUIR UM SISTEMA M&#193;GICO...</h2>
          <p>O verdadeiro trader segue um sistema de trading e o compreende por completo, n&#227;o apenas segue sinais m&#225;gicos de entradas e sa&#237;das. Por esse motivo criamos este treinamento para voc&#234;, veja algumas vantagens do nosso curso:</p>
      </div>
      <section id="global">
        <div class="row-fluid">
          <div class="span6">
            <div class="span3">
              <%= image_tag "icon_20.png" %>
            </div>
            <div class="span7 feature">
              <h3>AULAS ONLINE - AO VIVO</h3>
              <p>AULAS AO VIVO COM INTEGRA&#199;&#195;O TOTAL, POSSIBILITANDO O ESCLARECIMENTO DE D&#218;VIDAS EM TEMPO REAL</p>
            </div>
          </div>
          <div class="span6">
            <div class="span3">
              <%= image_tag "icon_17.png" %>
            </div>
            <div class="span9 feature">
              <h3>MELHORE SUA PSICOLOGIA DE MERCADO</h3>
              <p>PERCA O MEDO DE FECHAR SUAS POSI&#199;&#213;ES ANTES DO TEMPO E A GAN&#194;NCIA DEIXANDO A POSI&#199;&#195;O POSITIVA SE TORNAR UMA PERDA</p>
            </div>
          </div>
        </div>
        <div class="row-fluid margin_top1">
          <div class="span6">
            <div class="span3">
              <%= image_tag "icon_25.png" %>
            </div>
            <div class="span7 feature">
              <h3>GERENCIAMENTO DE RISCO</h3>
              <p>APRENDA A CALCULAR QUAL SUA MARGEM REAL DE RISCO LEVANDO EM CONTA O VALOR TOTAL DE SUA CONTA</p>
            </div>
          </div>
          <div class="span6">
            <div class="span3">
              <%= image_tag "icon_27.png" %>
            </div>
            <div class="span9 feature">
              <h3>INDICADORES PR&#211;PRIOS</h3>
              <p>INDICADORES PR&#211;PRIOS DESENVOLVIDOS EXCLUSIVAMENTE PARA AUMENTAR SUAS PROBABILIDADES DE ACERTO</p>
            </div>
          </div>
        </div>
      </section>
      <div class= "row-fluid row-chamada-bloco">
          <h2>PRICE ACTION</h2>
          <p>Aprender a entender o Gr&#225;fico &#233; exatamente o que voc&#234; ser&#225; capaz de realizar no final do curso, se voc&#234; quiser ganhar dinheiro de maneira consistente, precisa entender o movimento do Pre&#231;o.</p>
          <div class="span center"><br/><%= image_tag "chart_32.png" %></div>
          <br/><br/>
          
          <a class="download" id="btn_download_ementa"><%= image_tag "btn_download_36.png" %></a>
      </div>
      <div class= "row-fluid row-chamada-bloco">
          <h2>SUPORTE P&#211;S-CURSO VIA E-MAIL</h2>
          <p>Est&#225; cansado de comprar cursos, sistemas ou rob&#244;s e ficar com muitas d&#250;vidas sem algu&#233;m para perguntar?</p>
          <br/><br/>
          <p>Com a FxAddicts School voc&#234; ter&#225; sempre algu&#233;m com quem tirar todas suas d&#250;vidas. Voc&#234; poder&#225; tirar n&#227;o somente d&#250;vidas sobre o aprendido no curso, como tamb&#233;m sobre opera&#231;&#245;es realizadas ap&#243;s o curso! Ent&#227;o, lembre-se se voc&#234; precisar tirar qualquer d&#250;vida, n&#243;s estamos apenas a um e-mail de dist&#226;ncia.</p>
      </div>
      <div class= "row-fluid row-chamada-bloco">
          <h2>AUTOR DO CURSO</h2>
          <div class="span photo">
            <%= image_tag "author_39.png" %>
          </div>
          <div class="span10">
            <p>Sou Anderson Correia, trabalho com Forex em per&#237;odo integral. N&#227;o sou um Gur&#250;, n&#227;o sou o M&#225;gico do Forex, nem um famoso autor de livros, sou apenas um operador que vive do Forex.
            <br/>
            <br/>
            Uns dos maiores problemas que todos os traders iniciantes possuem &#233; o excesso de informa&#231;&#227;o, indicadores, templates e falsas promesas de Ganhos R&#225;pidos e F&#225;ceis neste mercado. A nossa proposta com este curso &#233; dar uma vis&#227;o Clara e Objetiva sobre as t&#233;cnicas de Scalping. Uns dos maiores problemas que todos os traders iniciantes possuem &#233; o excesso de informa&#231;&#227;o, indicadores, templates e falsas promesas de Ganhos R&#225;pidos e F&#225;ceis neste mercado. A nossa proposta com este curso &#233; dar uma vis&#227;o Clara e Objetiva sobre as t&#233;cnicas de Scalping.
            <br/>
            <br/>
            Vamos l&#225;!
            </p>
          </div>
      </div>
      <div class= "row-fluid row-chamada-bloco">
          <h2>VEJA SE VOC&#202; SE IDENTIFICA COM ALGUNS DOS PONTOS ABAIXO:</h2>
          <p>&#8730; Tem gastado muito tempo e dinheiro procurando in&#250;meros indicadores, templates e estrat&#233;gias "m&#225;gicas" que indiquem 
            oferecemos pontos de entrada e sa&#237;da?
            <br/><br/>
            &#8730; Alguma das estrat&#233;gias encontradas na internet j&#225; lhe trouxeram resultados consistentes?
            <br/><br/>
            &#8730; Voc&#234; est&#225; cansado de pagar ou baixar cursos que encontra na internet e nunca teve um suporte para tirar d&#250;vidas?
            <br/><br/>
            &#8730; N&#227;o acredita mais naqueles chamados "Gurus do Forex" que nunca monstraram seus resultados em contas reais?
          </p>
            <br/><br/><br/><br/>
          <p class="span11 familiar">
            <strong>O TEXTO ACIMA LHE &#201; FAMILIAR?</strong><br>
            Se sua resposta &#233; SIM para algumas das perguntas acima,<br/>
            talvez este curso seja para voc&#234;...
          </p>

      </div>
      <div class= "row-fluid row-chamada-bloco">
          <h2>AINDA EST&#193; EM DUVIDA SOBRE FAZER OU N&#195;O O CURSO?<br/>
            VEJA EM SEGUIDA O DEPOIMENTO DE PESSOAS QUE J&#193; REALIZARAM O CURSO
          </h2>
        <section id="global">
          <div class="row-fluid margin_top1">
            <div class="span1"></div>
            <div class="span5">
              <div class="span2">
                <%= image_tag "men_43.png" %>
              </div>
              <div class="span10 depoiment">
                <p>"Este &#233; o segundo curso que participo, e 
                realmente quanto a qualidade do material 
                utilizado &#233; realmente muito bom, som e 
                imagem, etc. A sua capacidade de comu-
                nica&#231;&#227;o em transmitir conceitos e id&#233;ias &#233; 
                extremamente adequada, seja comparti-
                lhando dicas, t&#233;cnicas, tirando d&#250;vidas, 
                ficando bem claro o seu conhecimento do 
                assunto, &#233; extremamente solicito a esclarecer 
                duvidas durante o curso ou em hor&#225;rio fora 
                dele, e por isso eu te agrade&#231;o."</p>
              </div>
              <div class="span name">Fernando F. - Santos - SP</div>
            </div>
            <div class="span5">
              <div class="span2">
                <%= image_tag "woman_46.png" %>
              </div>
              <div class="span10 depoiment">
                <p>"Antes de fazer o curso, imaginava que a 
                  estrat&#233;gia de scalp seria estressante por 
                  demandar muita aten&#231;&#227;o e concentra&#231;&#227;o, 
                  mas na verdade ela se mostrou surpreen-
                  dentemente tranquila. &#201; uma ferramenta 
                  valiosa para momentos de consolida&#231;&#227;o, 
                  quando estrat&#233;gias que dependem de 
                  tend&#234;ncia n&#227;o funcionam muito bem. 
                  Outro fator importante &#233; o claro interesse 
                  do professor em formar operadores. Ele 
                  est&#225; sempre disposto a tirar d&#250;vidas, dar 
                  dicas e analisar nossos erros. Tudo isto 
                  com um &#243;timo humor :)"
                </p>
              </div>
              <div class="span name">Tereza C. - Lauro de Freitas - BA</div>
            </div>
            <div class="span1"></div>
          </div>
          <div class="row-fluid margin_top1">
            <div class="span1"></div>
            <div class="span5">
              <div class="span2">
                <%= image_tag "men_43.png" %>
              </div>
              <div class="span10 depoiment">
                <p>"Quero lhe parabenizar pelo &#243;timo curso. 
                J&#225; fiz v&#225;rios cursos, onde todos eles 
                mostram os padr&#245;es em gr&#225;ficos parados, 
                em tempos passados, onde &#233; muito f&#225;cil 
                analisar e ver onde vai parar o pre&#231;o. O 
                diferencial do seu curso, foi ser aplicado 
                ao mercado aberto mostrando gr&#225;ficos e 
                entradas em tempo real. Superou em muito 
                minhas expectativas.Voc&#234; est&#225; de parab&#233;ns 
                pelo excelente curso. O meu muito obrigado."
              </p>
              </div>
              <div class="span name">Jorge S. - Veran&#243;polis - RS</div>
            </div>
            
            <div class="span5">
              <div class="span2">
                <%= image_tag "men_43.png" %>
              </div>
              <div class="span10 depoiment">
                <p>"Achei o curso completo, pois desde que
                procuro aprender Forex, comprei aulas, 
                livros... mas nenhum se compara ao 
                acompanhamento de um professor, aulas 
                com questionamentos diretos, com um 
                grande valor de conte&#250;do, incluindo o 
                valor de ter um per&#237;odo de acompanha-
                mento para tirar duvidas sobre o curso e 
                todas as quest&#245;es respondidas, foi como 
                aprender a dirigir, com teoria e pratica."
              </p>
              </div>
              <div class="span name">Andre T. &#8211; Suzuka - Jap&#227;o</div>
            </div>
        </section>
        <div class="row-fluid row-button">
            <div class="span2"></div>
            <div class="span4 vagas">15 Vagas</div>
            <div class="span4 proxima_turma"><span>pr&#243;xima turma:</span> 25/07/2012</div>
            <div class="span3"></div>
        </div>
        <div class="row-fluid row-button-final">
            <div class="span btn_inscreva"><a id="btn_download" class="btn_download" href="#"></a></div>   
        </div>
      </div>
      <div class="row-fluid footer">
        <%= image_tag "linha_horizontal_55.png" %>
        <p class="span">Copyright &#169; 2012 Fx Addicts. <br/>Fx Addicts e Fx Addicts School s&#227;o marcas registradas de Fx Addicts Inc. <br/>Outros nomes de produtos mencionados podem ser marcas registradas de seus respectivos propriet&#225;rios.</p>
      </div>
    </div>
  <!-- Le javascript
  ================================================== -->
  <!--script src="bootstrap/js/bootstrap.js"></script-->
  </form>

  <script>
    $('.btn_download').click(function() {
      document.forms[0].submit();
    });
  </script>
  </body>
</html>